<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <a href="/">
        homepage
    </a>
    
    <a href="/contact/">
        contact
    </a>

   {{peoples}}

   <h1>about page</h1>

   <table>
    <tr>
        <th>sr no.</th>
        <th>name</th>
        <th>age</th>
    </tr>
    {% for people in peoples%}
    <tr>
        <td>{{people.name}}</td>
        <td>{{people.age}}</td>
       <td>{% if people.age > 18 %}
        yes

        {% else %}
        no

        {% endif %}
       </td>
    </tr>
    {% endfor %}
   </table>
   <p>{{text}}</p>
</body>
</html>